

:root {
  --color-accent: #4D96FF;
  --color-bg: #F8F9FA;
  --color-text: #343A40;
  --color-white: #ffffff;

  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--color-bg);
  color: var(--color-text);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

/* Puedes mantener App.css para reglas más específicas */
